<div class="col col-lg-6 mb-4 mb-lg-0">
  <figure class="bg-white p-3 rounded" style="border-left: .25rem solid #a34e78;">
      <blockquote class="blockquote pb-2">
        <p><%= @reply %></p>
      </blockquote>
      <figcaption class="blockquote-footer mb-0 font-italic">
        <em>—Your coach</em>
      </figcaption>
      </figure>
      </div>
      <a href=#ask>dddd</a>
