<div class="container mt-5">
  <div class="col col-lg-6 mb-4 mb-lg-0">
    <figure class="bg-grey p-3 rounded" style="border-left: .35rem solid gray;">
      <div class="container my-2">
        <blockquote class="blockquote pb-2">
          <p><%= @question %></p>
        </blockquote>
        <figcaption class="blockquote-footer mb-2 font-italic">
          <em>You</em>
        </figcaption>
      </div>
    </figure>
    <figure class="bg-grey p-3 rounded" style="border-left: .35rem solid gray; background-color: lemonchiffon">
      <%# <p>ffff</p> %>
      <div class="container my-2">
        <blockquote class="blockquote pb-2">
          <p><b><%= @reply %></b></p>
        </blockquote>
        <figcaption class="blockquote-footer mb-2 font-italic">
          <em>Your coach</em>
        </figcaption>
      </div>
    </figure>
  </div>
  <%= link_to "Ask a new question", "/ask" %>
</div>
